<div id="container">
	<div class="row head">
		<h3 class="text-center text-uppercase mt-4 bienvenue">Bienvenue sur Akinator !</h3>
	</div>

	<div class="row lets-play mt-5">
		<div class="col-md-6 d-flex justify-content-center align-items-center">
			<div class="link d-flex flex-column justify-content-center align-items-center">
				<p class="jouons">C'est partit, jouons ensemble !</p>
				<button class="bouton-demarrer"><%= link_to( "Débuter le jeu", games_path, method: :post, class: "a-bouton-demarrer" ) %></button>
			</div>
		</div>
		<div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
			<img src="https://image.noelshack.com/fichiers/2019/12/4/1553189260-genieaurelie.png" alt="", class="avatar">
		</div>

	</div>
</div>

